body{
    display: grid;
    background-color: grey;
    grid-gap:10px;
    padding: 10px;
    grid-template-areas:
    'a'
    'b' ;
}
header{
    grid-area: a;
    background-color: lightgray;
   
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
img{
    border-radius: 20px;
  }
a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-style: oblique;
}
aside{
    grid-area: b;
    background-color: lightgrey;
}
.pytania{
    display: flex;
   padding: 100px;
   flex-direction: column;
   justify-content: center;
   grid-gap:20px;
}
.pyt1{
   
    background-color: whitesmoke;
    border-radius:20px;
}
.pyt2{
    
    background-color: whitesmoke;
    border-radius:20px;
}
.pyt3{
    
    background-color: whitesmoke;
    border-radius:20px;
}
.pyt4{
    
    background-color: whitesmoke;
    border-radius:20px;
}
.pyt{
    font-weight: bold;
}